:root {
    --color-divider: #CCCCCC;
    --color-neutral: #757575;
    --color-primary-text: #141414;
    --color-secondary-text: #414141;
    --color-primary: #1E7B92;
    --color-primary-light: #1E7B921F;
}